.galeria{
    width: 100%;
 padding-top: 80px;
}
.galeria h2{
    padding: 30px 32px 0 32px;
    text-align: center;
}
.galeria p{
  color: gray;
  text-align: center;
  padding-bottom: 20px;
}
.list{

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    
    gap: 5px;
  }
.list img{
   max-width: 400px;
   width: 100%;
aspect-ratio: 1/1;
  object-fit: cover;
   position: relative;
 
}
.list .img{
  position: relative;
  
}

.list .img:after{


position: absolute;
top: 90%;
left: 0;
/* color: rgb(46, 41, 41); */
color: white;
background-color: rgba(1, 1, 1, 0.418);
width: 100%;
height: 30px;
line-height: 30px;
text-align: center;
/* font-weight: 900; */
letter-spacing: 2px;
}
.list .auditorio:after{
  content: "Auditorio";
}
.list .p_byl:after{
  content: "Plaza calle Belgrano";
}
.list .camara__:after{
  content: "C치mara de Contacto";
}
.list .cerco__:after{
  content: "Cerco Perimetral";
}
.list .sala__:after{
  content: "Sala de Control";
}
.list .zanja__:after{
  content: "Zanjas de Oxidaci칩n";
}
.list .playas__:after{
  content: "Playas de secado";
}
.list .templo__:after{
  content: "Templo";
}

.list .ancillary__:after{
  content: "Ancillary";
}
.list .p_alvarez:after{
  content: "Plaza calle A. Alvarez";
}

.list .remodelacion:after{
  content: "Remodelaci칩n veredas y calles";
}
.list .urbanizacion:after{
  content: "Urbanizaci칩n";
}







